@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"); */

/* =============== MAIN PAGE STYLING =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", sans-serif;
  background-color: #141414;
  color: #ffbe00;
  overflow: hidden !important;
  font-size: 3vw;
  line-height: 1.5em;
}

.container {
  margin: 0 auto;
  perspective: 300px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  transform: scaleY(0.9);
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    180deg,
    rgb(20, 20, 20, 1) 20%,
    rgb(20, 20, 20, 0) 100%
  );
}

.stars {
  position: absollute;
  background-color: #141414;
  z-index: 2;
  height: 1px;
  width: 1px;
}

/* ================= INTRO SEQUENCE ================= */

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-weight: 500;
  font-size: 3.25rem;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  color: #4bd5ee;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: intro 6s ease-out 0.5s;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ================= LOGO SEQUENCE ================= */

/* ================= CRAWL SEQUENCE ================= */

.crawl-text {
  position: absolute;
  top: 0;
  left: 28%;
  right: 28%;
  height: 100%;
  animation: crawl 180s linear infinite;
  /* animation-play-state: paused; */
}

.titles {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 2.5em;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  transform: scaleY(1.8);
}

p {
  text-align: justify;
  padding: 0.5em 0;
  font-weight: bold;
}

@keyframes crawl {
  from {
    opacity: 100%;
    transform: rotateX(21deg) translate3d(0, 50rem, 0);
  }
  90% {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    transform: rotateX(21deg) translate3d(0, -100rem, 0);
  }
}

/* @keyframes crawl {
  from {
    top: 0;
    transform: translateZ(0) rotateX(21deg);
  }
  to {
    top: -6500px;
    transform: translateZ(-2500px) rotateX(21deg);
  }
} */
