@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"); */

/* =============== MAIN PAGE STYLING =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #ffbe00;
  overflow: hidden !important;
  font-size: 3vw;
  line-height: 1.5em;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.stars {
  position: absolute;
  background-color: #fff;
  z-index: 0;
  height: 0.5px;
  width: 0.5px;
}

/* ================= INTRO SEQUENCE ================= */

#intro {
  position: absolute;
  top: 35vh;
  left: 25vw;
  opacity: 0;
  font-size: 3.25rem;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  color: #4bd5ee;
  z-index: 2;
  /* transform: translate(-50%, -50%); */
  animation: intro 7s ease-in-out 0.5s;
  animation-play-state: paused;
  display: none;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ================= LOGO SEQUENCE ================= */

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  z-index: 2;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: logo 10s ease-out 9s;
  animation-play-state: paused;
  display: none;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
  2%{
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

#logo img {
  width: inherit;
}

/* ================= CRAWL SEQUENCE ================= */

.container {
  height: 50em;
  width: 20em;
  margin: 0 0 0 -10em;
  transform: perspective(350px) rotateX(25deg);
  transform-origin: 50% 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  z-index: 0;
}

#crawl-text {
  top: 100%;
  position: absolute;
  animation: crawl 160s linear 17s;
  animation-play-state: paused;
  display: none;
}

.container::after {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 0;
  right: 0;
  content: "";
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0, 1) 25%,
    rgb(0, 0, 0, 0.75) 50%,
    rgb(0, 0, 0, 0.5) 75%,
    rgb(0, 0, 0, 0.25) 100%
  );
}

.titles {
  margin-bottom: 1.5em;
}

#crawl-text h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 2.5em;
}

#crawl-text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  transform: scaleY(1.8);
}

#crawl-text p {
  text-align: justify;
  padding: 0.5em 0;
  font-weight: bold;
}

@keyframes crawl {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}

/* ================= LIGHTSABER START BUTTON ================= */

#btn {
  top: 5vh;
  left: 50vw;
  display: block;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 0;
}

#btn .hilt {
  height: 100px;
  width: 25px;
  cursor: pointer;
  border-bottom: solid 8px grey;
  border-top: solid 10px grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgb(226, 226, 226);
  background: linear-gradient(
    to right,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  z-index: 2;
}

.blade {
  position: relative;
  left: 2.5px;
  top: 20px;
  height: 425px;
  width: 20px;
  background: linear-gradient(
    to right,
    rgb(48, 135, 222, 1) 0%,
    rgb(87, 149, 219) 25%,
    rgb(255, 255, 255) 50%,
    rgb(87, 149, 219) 75%,
    rgb(48, 135, 222) 100%
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 10px #daf1ff;
  z-index: -1;
  cursor: pointer;
}

.blade-tip {
  position: relative;
  left: 5.5px;
  top: 30px;
  height: 14px;
  width: 14px;
  background: radial-gradient( circle,
    rgba(255, 255, 255, 1) 38%,
    rgb(48, 135, 222, 1) 5%,
    rgb(87, 149, 219) 20%,
    rgb(48, 135, 222, 1) 5%
  );
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 1px;
  rotate: 45deg;
  box-shadow: 0 0 10px #daf1ff;
  z-index: -1;
  cursor: pointer;
}

.ignition {
  position: relative;
  width: 10px;
  height: 10px;
  background: rgb(164, 0, 0);
  border-radius: 100%;
  left: 7.5px;
  top: 30px;
  cursor: pointer;
}

.begin {
  position: absolute;
  width: 200px;
  top: 580px;
  left: -85px;
  text-align: center;
}

.begin p {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color:#ffbe00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
}


/* ================= CITATION ================= */
/* StarWarsOpeningLogo.svg | citation: https://logos-download.com/wp-content/uploads/2016/09/Star_Wars_logo.svg
/* star-wars-main-theme.mp3 | citation: http://soundfxcenter.com/download-sound/star-wars-main-theme-song/